html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
  blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
  font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
  b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td
{
  margin : 0;
  padding : 0;
  border : 0;
  outline : 0;
  font-size : 100%;
  vertical-align : baseline;
  background : transparent
}

body
{
  line-height : 1
}

ol, ul
{
  list-style : none
}

blockquote, q
{
  quotes : none
}

blockquote:before, blockquote:after, q:before, q:after
{
  content : '';
  content : none
}

:focus
{
  outline : 0
}

ins
{
  text-decoration : none
}

del
{
  text-decoration : line-through
}

table
{
  border-collapse : collapse;
  border-spacing: 0
}

acronym, abbr
{
  border-bottom : 1px;
  dotted : #ccc;
  cursor : help;
}

acronym:hover, abbr:hover
{
  border-bottom-color : #555
}

input, textarea, select, button
{
  font-size : 1em;
  font-family : inherit
}

em, strong
{
  font-weight : bold;
}

em, q
{
  font-style : italic;
}

*
{
  outline-style : none;
}

sup
{
  vertical-align : baseline;
  position : relative;
  bottom : 0.5em;
  font-size : 5px;
}

strong
{
  font-weight : bold;
}

.bold
{
  font-weight : bold;
}

hr
{
  display : none;
}

label
{
  cursor : pointer;
}

.clearer
{
  clear : both;
}

body
{
  font-family : verdana;
  font-size : 12px;
  line-height : 1.65em;
  background : #066;
  padding-top : 2em;
}

#main-wrapper
{
  width : 1006px;
  margin : 0 auto;
  position : relative;
}

#credits
{
  width : 300px;
  background : white;
  color : #555;
  position : fixed;
  margin-left : 690px;
  font-size : 0.95em;
  -moz-border-radius : 5px;
  line-height : 1.3em;
}

#credits-inner
{
  padding : 2em;
}

#sections
{
  overflow-y : auto;
  overflow-x : hidden;
  margin:10px 0;
}

#sections-inner
{
  padding:0 2em 2em;
}

#rfc
{
  width : 640px;
  background : white;
  color : #555;
  position : absolute;
  left : 10px;
  -moz-border-radius : 0 5px 5px 5px;
}

dt
{
  font-weight : bold;
}

p, dl, dd, pre
{
  margin-bottom : 1em;
}

pre
{
  overflow : auto;
  padding : 0.5em 1em;
  background : #f7f7f7;
}

ul, ol
{
  margin-left : 1.5em;
}

ul li
{
  list-style-type : disc;
}

ol li
{
  list-style-type : decimal;
}

li
{
  margin-bottom : 0.5em;
}

.names
{
  overflow : auto;
}

.names li
{
  margin : 0;
  width : 33%;
  float : left;
  list-style-type : none;
}

a, a:visited
{
  text-decoration : none;
  color : #066;
}

a:hover
{
  text-decoration : underline;
}

#toc li
{
  line-height : 1em;
  list-style-type : none;
}

.toc2
{
  margin-top : 2em;
  font-weight : bold;
}

.toc3
{
  margin-left : 2em;
}

.toc4
{
  margin-left : 4em;
}

.toc5
{
  margin-left : 6em;
}

.toc6
{
  margin-left : 8em;
}

h1, h2, h3, h4, h5
{
  margin : 0.5em 0;
  font-weight : bold;
  font-family : "trebuchet ms";
}

h1
{
  margin-top : 7px;
  font-size : 3em;
  color : #fff;
  margin-left : 15px;
}

h2
{
  font-size : 1.75em;
  margin-top : 2em;
}

h3
{
  font-size : 1.5em;
  margin-top : 1em;
}

h4
{
  font-size : 1.25em;
  margin-top : 1em;
}

h5
{
  font-size : 1.1em;
  margin-top : 0.5em;
}

.tab-menu
{
  overflow : auto;
  margin : 0 0 0 10px;
}

.tab-menu
li
{
  font-size : 11px;
  text-align : center;
  float : left;
  margin : 0 2px 0 0;
  list-style-type : none;
}

.tab-menu a
{
  padding : 1px 4px;
  -moz-border-radius : 5px 5px 0 0;
  background : #999;
  width : 16px;
  display : block;
  color : #ddd;
}

.tab-menu .width-auto a
{
  width : auto
}

.tab-menu a:hover
{
  text-decoration : none;
  background : #eee;
  color : #555;
}

.active-tab a
{
  color : #066;
  background-color : #fff;
  -moz-border-radius : 5px 5px 0 0;
}

.promote 
{
  float : left;
  width : 60%;
  font-weight : bold;
}

span.intro
{
  font-weight : normal;
  font-size : .9em;
  color : #ccc;
  padding-left : 16px;
}

.hide
{
  display : none;
}
